 /*
1. document properties
2. sections
3. header and navigation
4. content classes
5. typografy
6. parallax
 */

 html, body{
        height: 100%;/*fallback*/
        height: 100vh;
        min-width: 180vw;
        max-width: 600vw;
        font-family: 'Roboto', arial;
        overflow-y: hidden;
      }




/* 2. sections */
section{
	height: 100vh;
	float: left;
}

.w-50{
	width:50vw;
}
.w-90{
	width:90vw;
}
.w-100{
	width: 100vw;
}


.homesection{
	background: rgba(10,10,10,0.4) url('../images/first-section.jpg');
	background-blend-mode: multiply;
	background-size: cover;
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 100%);

/*не кроссбраузерно*/
	display: flex;
	justify-content: center;
	align-items: center;

}



/* 3. menu */
.navbar-brand{
	background-image: url('../images/logo_svg.svg');
	background-repeat: no-repeat;
	width: 180px;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 30px;
	position: relative;
	z-index: 10;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  text-transform: uppercase;
}

.navbar-transparent{
	background-color: rgba(50,50,50,.5);
	color: white;
}

.navbar-static-top {
	width: 100vw;
}
.navbar-fixed-top .navbar-nav > li > a{
	transition: .2s;
	padding-right: 25px;
}
.navbar-fixed-top .navbar-nav > li > a:focus{
	color: forestgreen;
}


.navbar-fixed-top .navbar-nav > li > a:hover{
	background: transparent;
	cursor: pointer;
	color: #a4c939;
}

.navbar-fixed-top .navbar-nav > li > a:active{
	background: transparent;
	color: #60731f;
}

.navbar .navbar-collapse {
  text-align: center;
}

 .navbar-center{

 }


 /* 4. content classes  */
 .bold{
 	font-weight: 600;
 }

 .center-content {
 	max-width: 400px;
 	max-height: 400px;

 }
 .color-white{
 	color: white;
 }

 #home-article{
 	text-align: center;
 }
 #home-article h1{
 	font-weight: 100;
 }

.center-up-content{
	max-width: 600px;
	max-height: 400px;
	margin: 0 auto;
}

.down-50{
	margin-top: 50px;
}

.down-100{
	margin-top: 100px;
}

.bottom-50{
	margin-bottom: 50px;
}

#tree-components{
	max-width:700px;
	margin: 0 auto; 
	display: flex;
	justify-content: center;
}

.component{
	width: 122px;
	height: 122px;
	border: 2px solid black;
	margin: 10px;
	float: left;

	display: flex;
	justify-content: center;
	align-items: center;
}

#second-component{
	margin-top: 130px;
}

.rotate45{
	transform: rotate(45deg);
}

.rotate-45{
	transform: rotate(-45deg);
}

.component-text{
	/*margin-left: -2px;
	margin-top: 34px;*/
}
 /* 5. typografy */

 @font-face {
  font-family: Roboto-thin;
  src: url(../fonts/Roboto-Thin.ttf);
}


@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}


.thin-text{
	font-family: Roboto-thin, sans-serif;
	font-weight: 100;
}

.center-text{
	text-align: center;
}

.no-margin{
	margin: 0px;
}

.uppercase{
	text-transform: uppercase;
}

.txt-12{
	font-size: 11px;
}


/* 6. parallax */

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: auto;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}